.gallery {
  height: 175vh;
  overflow: hidden;
  background: rgb(45, 45, 45);
  position: relative;

  .wrapper {
    position: relative;
    top: -12.5vh;
    height: 200vh;
    display: flex;
    gap: 2vw;
    padding: 2vw;

    .column {
      position: relative;
      height: 100%;
      flex: 1;
      min-width: 250px;
      display: flex;
      flex-direction: column;
      gap: 2vw;
      white-space: nowrap;

      .imageContainer {
        height: 100%;
        position: relative;
        border-radius: 1vw;
        overflow: hidden;
        img {
          object-fit: cover;
        }
      }

      &:nth-of-type(1) {
        top: -45%;
      }
      &:nth-of-type(2) {
        top: -93%;
      }
      &:nth-of-type(3) {
        top: -37%;
      }
      &:nth-of-type(4) {
        top: -75%;
      }
    }
  }
}
